@mixin margin {
    margin-left: 10px;
    padding: 10px 0px;
}

@mixin section_style {
    border: 1px solid $border;
    background-color: $bgcolor-section;
    box-shadow: 2px 2px 2px $brand-main-color;
    margin: 50px 10px;
    padding: 15px;
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        $width: 100% / 12 * $i;

        .col-#{$prefix}-#{$i} {
            width: $width;
        }

        .col-offset-#{$prefix}-#{$i} {
            margin-left: $width;
        }
    }
}