/* Colors */
$bgcolor-body: #f5f5f2;
$bgcolor-section: #ffffff;
$bgcolor-navbar: #191919;
$brand-main-color: #979797;
$primary: #E3E3E3;
$secondary: #bababa;
$links: #56819F;
$links-hover: #FFA200;
$table-hover: #f1f3f3;
$btn-primary: #F58220;
$btn-text:#f4f4f4;
$border: $primary;

/* Font sizes */
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 24px;

/* Fonts */
$brand-font: 'Roboto',
sans-serif;
$paragraph-font: "Open Sans",
Helvetica,
Arial;