@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "components/buttons";
@import "components/icons";
@import "components/list_group";
@import "components/tables";
@import "components/form_field";
@import "sections/navbar";
@import "sections/topbar";
@import "sections/general_statistic";
@import "sections/links";

body {
    font-family: $brand-font;
    background-color: $bgcolor-body;
}

a {
    text-decoration: none;
    font-size: $small-font-size;
    color: $brand-main-color;
    line-height: 30px;
    padding: 10px 0px;

    &:hover {
        color: $links-hover;
    }
}

.section-header {
    border-bottom: 1px solid $border;
    width: 100%;

    .section-title {
        text-transform: uppercase;
        color: $brand-main-color;
        line-height: 42px;
        font-size: $small-font-size;
        font-weight: bold;
    }
}

.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.scroll-wrapper .table {
    width: 100%;
    max-width: 100%;
}

.postback {
    margin-top: 20px;
    font-size: $small-font-size;
    font-family: $paragraph-font;
}

@media (max-width: 767px) {
    a {
        font-size: $medium-font-size;
    }

    .section-title {
        text-align: center;
    }
}