.list-group-item {
    list-style-type: none;
    padding: 5px;
}

.list-group-horizontal {
    float: right;

    .list-group-item {
        border-left: 1px solid $border;
    }
}

.list-hover {
    border-left: 3px solid transparent;

    &:hover {
        background-color: $list-hover;
        border-left: 3px solid $links-hover;
        cursor: pointer;

        a {
            color: $links-hover;
        }
    }
}

.pagination {
    text-align: center;
    margin-top: 20px;

    .list-group-item {
        display: inline-block;
    }

    a {
        padding: 10px;

        &:hover {
            background-color: $primary;
        }
    }
}

@media (max-width:767px) {

    .list-group-item {
        text-align: center;
        font-size: $large-font-size;
    }
}