.list-group-item {
    list-style-type: none;
    padding: 10px;


}

.list-group-horizontal {
    .list-group-item {
        border-left: 1px solid $border;
    }
}

.list-hover {
    &:hover {
        background-color: $list-hover;
        border-left: 3px solid $links-hover;
        cursor: pointer;

        a {
            color: $links-hover;
        }
    }
}