.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0px;

    .table-row {
        display: flex;
        width: 100%;

        &:hover {
            background-color: $table-hover;
            cursor: pointer;

            .icon-table-hover {
                display: inline-block;
            }
        }
    }

    .table-item {
        justify-content: space-around;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100%;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid $border;
        padding: 10px;
        font-size: $medium-font-size;
        font-family: $brand-font;
        color: $brand-main-color;
        line-height: 30px;
    }

    a {
        color: $links;
    }
}

@media (max-width: 767px) {
    .links {
        .table-row {
            flex-direction: column;
        }
    }

    .table-item {
        text-align: center;
    }
}