.general-statistic {
    @include section_style;
}

.calendar {
    width: 100%;
    text-align: center;

    p {
        display: inline-block;
        border: 1px solid $border;
        padding: 10px 30px 10px 10px;
        margin: -3px;
        font-family: $paragraph-font;
    }

    .btn {
        svg {
            &:hover {
                fill: #ffffff;
            }
        }
    }
}

.graph-chart {
    padding: 20px 0px;

    .graph-title {
        font-size: $medium-font-size;
        color: $brand-main-color;
    }

    .graph {
        margin-top: 30px;
        width: auto;
        min-width: 100%;
    }
}

@media (max-width:767px) {
    .calendar {
        text-align: center;

        p {
            padding: 5px;
        }
    }
}

@media (max-width:767px) {
    .general-statistic {
        margin: 5px 10px;
    }
}