.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $bgcolor-navbar;
    height: 100vh;
    float: left;
    transition: all .3s ease-in-out;

    &.hide {
        left: -150px;
    }

    h3 {
        color: #ffffff;
        font-size: $large-font-size;
        font-family: 'Dancing Script', cursive;
        line-height: 50px;
        @include margin;

    }

    .navbar-menu {
        i {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: $large-font-size;
            line-height: 50px;
        }
    }

    .icon {
        filter: invert(60%);
    }

    .team-manager {
        border-top: 1px solid $secondary;

        h2 {
            font-size: $small-font-size;
            color: $brand-main-color;
            text-transform: uppercase;
            letter-spacing: -0.28px;
            margin-top: 10px;
            @include margin;
        }

        .manager {
            position: relative;
            font-size: $small-font-size;
            color: $links;
            @include margin;

            .photo {
                width: 43px;
                height: 43px;
                border-radius: 50%;
            }

            p {
                display: inline-block;
                position: absolute;
                top: 25px;
                left: 50px;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        position: absolute;
        left: -130px;

        &.hide {
            right: 480px;
        }
    }

    .navbar-menu i {
        position: absolute;
        top: 0px;
        left: 160px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .navbar {
        h3 {
            font-size: 20px;
        }
    }
}