.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $bgcolor-navbar;
    height: 100vh;
    float: left;
    transition: all .3s ease-in-out;

    &.hide {
        left: -150px;
    }

    h3 {
        color: #ffffff;
        font-size: 24px;
        font-family: 'Dancing Script', cursive;
        line-height: 30px;
        @include margin;

    }

    .navbar-menu {
        i {
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: $large-font-size;
            line-height: 50px;
        }
    }

    svg {
        fill: $brand-main-color;
    }

    .team-manager {
        border-top: 1px solid $secondary;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        h2 {
            font-size: $small-font-size;
            color: $brand-main-color;
            text-transform: uppercase;
            letter-spacing: -0.28px;
            margin-top: 10px;
            @include margin;
        }

        .manager {
            display: flex;
            font-size: $small-font-size;
            color: $links;
            @include margin;

            .photo {
                width: 43px;
                height: 43px;
                border-radius: 50%;
            }

            p {
                display: flex;
                align-items: center;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        position: absolute;
        left: -500px;
        width: 60vw;
        height: 100vh;

        .navbar-menu i {
            position: absolute;
            top: 10px;
            left: 550px;
        }

        &.hide {
            left: 0px;
            text-align: center;

            .navbar-menu i {
                position: absolute;
                top: 5px;
                left: 200px;
            }
        }

        h3 {
            display: none;
        }

        svg {
            display: none;
        }

        .manager {
            display: flex;
            justify-content: center;
        }
    }

}

@media (min-width:768px) and (max-width:992px) {
    .navbar {
        height: 150vh;
        width: auto;
    }
}