.topbar {
    position: fixed;
    background-color: $bgcolor-section;
    border: 1px solid $border;
    z-index: 0;

    .list-group-item {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .topbar {
        display: none;
    }
}