.topbar {
    position: fixed;
    background-color: $bgcolor-section;
    border: 1px solid $border;
    z-index: 0;

    .list-group-item {
        display: inline-block;
    }
}

.topbar_mobile {
    display: none;
}

@media (max-width:767px) {
    .topbar {
        display: none;
    }

    .topbar_mobile {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            display: inline;
        }

        .list-group {
            width: 100%;

            .list-group-item {
                display: inline-block;
                border: none;
            }
        }
    }
}